html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}


/* End of snippets */

/* universal styles are here */

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h2 {
    font-family: 'Pacifico', 'sans-serif';
    font-weight: 400;
    font-size: 4.2rem;
    margin: 0;
    color:  #1F2022;
}

p,
input[type="email"] {
    font-family: 'Catamaran', 'sans-serif';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 29px;
    padding-bottom: 1rem;
    color:  #1F2022;
}

a {
    text-decoration: none;
    font-family: 'Catamaran', 'sans-serif';
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

i.fa-bars {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 5rem;
    width: 100px;
    color: #F4F4F4;
    text-align: right;
    visibility: hidden;
}

.button a {
    background-color: #1F2022;
    text-transform: uppercase;
    padding: 0.2rem 2.5rem;
    color: #F2A11C;
    font-weight: 700;
    font-size: 1.8rem;
}

/* header starts here */

header {
    position: relative;
    background-image: url(./biker-land-assets/image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding-top: 3rem;
}

.menu {
    text-align: center;
}

.menu ul {
text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #FFFFFF;
    padding: 2rem;
}

.sitename {
    padding-top: 25rem;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', 'sans-serif';
    font-size: 13rem;
    font-weight: normal;
    color: #F2A11C;
    margin: 0;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 29rem;
    padding-right: 5rem;
}

aside li {
    padding-top: 1rem;
}

aside i {
    color :#F2A11C;
    font-size: 25px;
}

/* End of header */

/* Hovers */

.menu a:hover {
    color: #F2A11C;
}

aside i:hover {
    color: #FFFFFF;
}

header i:hover {
    color: #F2A11C;
}

.button a:hover {
    background-color: #F2A11C;
    color: #1F2022;
}

.contact h3:hover {
    color: #F4F4F4;
}

.contact i:hover {
    color: #F2A11C;
}

.links i:hover {
    color: #F2A11C;
}

.links h3:hover {
    color: #F4F4F4;
}

input[type="submit"]:hover {
    background-color: #4A4A4A;
    color: #F2A11C;
}

/* end of hovers */

/* main part starts here */
/* section with two mirror articles */

.about {
    background-color: #000;
}

.about-us-post,
.about-us-pic {
    float: right;
    width: 50%;
    height: 60vh;
}

.about-mission-post,
.about-mission-pic {
    float: left;
    width: 50%;
    height: 65vh;
}

.about-us-post,
.about-mission-post {
    padding: 10rem 10rem;
}

.about-us-pic img,
.about-mission-pic img {
    height: 100%;
}

/* section ends here */

/* section with blog post */

.blog {
    background-color: #F4F4F4;
    height: 50vh;
}

.blog div:first-child {
    position: relative;
}

.blog-pic {
    float: left;
    width: 30%;
    height: 40rem;
    padding: 5rem 1rem 5rem 0;
}

.blog-pic img {
    height: 100%;
}

.blog-post {
    float: left;
    width: 80%;
    height: 50vh;
    padding: 5rem 0rem 5rem 8rem;
    right: 0;
    position: absolute;
}

/* end of blog section */

/* contact section starts here*/

.links {
    background-image: url(./biker-land-assets/image-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55vh;
}

.links ul {
    text-align: center;
}

.links li {
    display: inline-block;
    padding: 15rem 5rem 0;
}

.links i {
    color: #FFFFFF;
    font-size: 5rem
}

.links h3 {
    color: #F2A11C;
    font-weight: normal;
    font-family: 'Catamaran', 'sans-serif';
}

/* end of contact section */
/* gram section */

.gallery {
    background-color: #000;
}

.gallery h2 {
    text-align: center;
    padding: 3rem;
}

.gallery figure {
    text-align: center;
    float: left;
    width: calc(33% - 4rem);
    margin: 2rem 2rem 10rem;
}

/* end of gram section */
/* footer starts here */

footer {
    background-color: #1F2022;
}

footer p {
    margin: 0;
    padding: 0;
    color: #F4F4F4;
}

footer h4 {
    color: #F2A11C;
    font-family: 'Pacifico', 'sans-serif';
    font-size: 1.8rem;
    font-weight: lighter;
}

footer div:nth-child(1) {
    padding: 10rem 0;
}

.address {
    float: left;
    width: 50%;
    padding-top: 2rem;
    padding-left: 1rem;
}

.update {
    float: right;
    width: 50%;
    padding-top: 2rem;
}

.update p {
    margin-bottom: 1rem;
}

.copyright {
    clear: both;
    text-align: center;
}

form {
    display: inline;
    position: relative;
}

input[type="email"] {
    height: 4rem;
    width: 70%;
    padding: 0rem 1rem;
}

input[type="submit"] {
    height: 4rem;
    margin-top: 1rem;
    width: 40%;
    background-color: #F2A11C;
    color: #1F2022;
    margin: 0;
    padding: 1rem;
    font-size: 18px;
    font-weight: 400;
    border: none;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Catamaran', 'sans-serif';
}

.copyright {
    background-color: #000;
    padding: 1rem;
}
.copyright p {
    color: #4A4A4A;
    font-size: 16px;
}

/* end of fotter */

/* media starts here */

@media (max-width: 1300px){
    .blog {
    height: 100%;
    }

    .blog div:first-child{
        position: static;
    }

    .blog-pic {
        float: none;
        width: 100%;
        height: 100%;
    }


    .blog-post {
        float: none;
        position: static;
        padding: 0;
        width: 100%;
    }
    
    .blog-post h2,
    .blog-post .button{ 
        text-align: center;
    }
}

@media (max-width: 1000px){
    .about-us-post,
    .about-us-pic,
    .about-mission-post,
    .about-mission-pic {
        float: none;
        width: 100%;
        height: 50%;
    }

    .about-us-post,
    .about-mission-post  {
        text-align: center;
        padding: 4rem 1rem;
    }
}

@media (max-width: 800px){
    header nav,
    header aside {
        display: none;
    }

    i.fa-bars {
        visibility: visible;
    }

    .links li {
        display: block;
        padding: 3rem 5rem 0;
    }

    footer div:nth-child(1) {
        padding: 5rem 0;
    }

    .hidden-pic {
        display: none;
    }

    .gallery figure {
        width: calc(50% - 2rem);
        margin: 2rem 1rem 5rem;
    }

    .address,
    .update {
        float: none;
        width: 100%;
        text-align: center;
    }

    input[type="email"],
    input[type="submit"] {
        width: 100%;
    }

    input[type="submit"] {
        position: static;
        margin-top: 1rem;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 4rem;
    }

    .blog {
    height: 140vh;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 7rem;
    }

    .menu a {
        padding: .8rem;
    }
}

/* End of everything */
/* THE END */